In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime

# Importing and pré-processing the data

### Incidents data

Import "incidents" table from "Incidents_RATP" database

In [2]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/Incidents_RATP")
incidents = pd.read_sql_query("SELECT * FROM incidents", con=engine)

Adding "time_slot" column to the table

In [3]:
def timestamp_to_time_slot(timestamp: str):
    """
    Return the time slot of a given timestamp.
    """
    time_slot = int(timestamp[11:13]) // 2

    time_slots = [
        "0h-2h",
        "2h-4h",
        "4h-6h",
        "6h-8h",
        "8h-10h",
        "10h-12h",
        "12h-14h",
        "14h-16h",
        "16h-18h",
        "18h-20h",
        "20h-22h",
        "22h-24h",
    ]
    time_slots_dict = {i: time_slots[i] for i in range(len(time_slots))}

    return time_slots_dict[time_slot]

In [4]:
incidents["time_slot"] = incidents["timestamp"].apply(timestamp_to_time_slot)

incidents.head()

,start_end,user_name,timestamp,embedded_text,emojis,tweet_url,date,time_slot
0,end,@Ligne9_RATP,2018-01-01 02:22:11+00:00,"Incident terminé (personne sur les voies), ret...",None,https://twitter.com/Ligne9_RATP/status/9476390...,2018-01-01,2h-4h
1,end,@Ligne9_RATP,2018-01-01 02:46:17+00:00,Retour à un trafic régulier sur l'ensemble de ...,None,https://twitter.com/Ligne9_RATP/status/9476451...,2018-01-01,2h-4h
2,start,@Ligne9_RATP,2018-01-01 02:56:08+00:00,"02:53, la rame stationne à Nation en dir. de M...",None,https://twitter.com/Ligne9_RATP/status/9476475...,2018-01-01,2h-4h
3,start,@Ligne9_RATP,2018-01-01 19:14:08+00:00,"19:11, la rame stationne à Cx Chavaux en dir. ...",None,https://twitter.com/Ligne9_RATP/status/9478937...,2018-01-01,18h-20h
4,start,@Ligne9_RATP,2018-01-02 12:06:09+00:00,"12:02, le trafic est interrompu entre Rue des ...",None,https://twitter.com/Ligne9_RATP/status/9481484...,2018-01-02,12h-14h

### Public holidays data

In [5]:
public_holidays = pd.read_sql_query("SELECT * FROM public_holidays", con=engine)

public_holidays["public_holiday"] = True
public_holidays["date"] = pd.to_datetime(public_holidays["date"], format="%Y-%m-%d")

public_holidays.head()

        date  public_holiday
0 2003-01-01            True
1 2003-04-21            True
2 2003-05-01            True
3 2003-05-08            True
4 2003-05-29            True

### School holidays data

In [6]:
school_holidays = pd.read_sql_query("SELECT * FROM school_holidays", con=engine)

school_holidays.head()

                description start_date   end_date    zone school_year
0  Vacances de la Toussaint 2017-10-21 2017-11-06  Zone A   2017-2018
1  Vacances de la Toussaint 2017-10-21 2017-11-06  Zone C   2017-2018
2  Vacances de la Toussaint 2017-10-21 2017-11-06  Zone B   2017-2018
3          Vacances de Noël 2017-12-23 2018-01-08  Zone A   2017-2018
4          Vacances de Noël 2017-12-23 2018-01-08  Zone B   2017-2018

We're going to create a new dataframe "holidays_calendar" with columns: 
'date', 'holiday_departure_zone_A', 'holiday_departure_zone_B',
       'holiday_departure_zone_C', 'first_day_holidays_zone_A',
       'first_day_holidays_zone_B', 'first_day_holidays_zone_C',
       'holiday_day_zone_A', 'holiday_day_zone_B', 'holiday_day_zone_C',
       'last_day_holidays_zone_A', 'last_day_holidays_zone_B',
       'last_day_holidays_zone_C'

The purpose is to make transform the school_holidays dataset to make it easier to use this data in the model.

The departure for holidays takes place after class on the indicated days.
The resumption of classes takes place in the morning on the indicated days.
"during_holidays" excludes the departure and return days for holidays.

In [7]:
holiday_departure = school_holidays[["start_date", "zone"]]
holiday_departure.loc[:, "start_date"] = holiday_departure.loc[:, "start_date"].apply(
    lambda x: x.strftime("%Y-%m-%d")
)
holiday_departure = (
    holiday_departure.pivot_table(
        index=["start_date"], columns=["zone"], aggfunc=len, fill_value=0
    )
    .astype(bool)
    .reset_index()
)
holiday_departure.columns.name = None
holiday_departure = holiday_departure.rename(
    columns={
        "start_date": "date",
        "Zone A": "holiday_departure_zone_A",
        "Zone B": "holiday_departure_zone_B",
        "Zone C": "holiday_departure_zone_C",
    }
)
holiday_departure.head()

,date,holiday_departure_zone_A,holiday_departure_zone_B,holiday_departure_zone_C
0,2017-10-21,True,True,True
1,2017-12-23,True,True,True
2,2018-02-10,True,False,False
3,2018-02-17,False,False,True
4,2018-02-24,False,True,False

In [8]:
first_day_holidays = school_holidays[["start_date", "zone"]]
first_day_holidays.loc[:, "start_date"] = first_day_holidays[
    "start_date"
] + datetime.timedelta(days=1)
first_day_holidays.loc[:, "start_date"] = first_day_holidays["start_date"].apply(
    lambda x: x.strftime("%Y-%m-%d")
)
first_day_holidays.reset_index(drop=True, inplace=True)
first_day_holidays = (
    first_day_holidays.pivot_table(
        index=["start_date"], columns=["zone"], aggfunc=len, fill_value=0
    )
    .astype(bool)
    .reset_index()
)
first_day_holidays.columns.name = None
first_day_holidays.rename(
    columns={
        "start_date": "date",
        "Zone A": "first_day_holidays_zone_A",
        "Zone B": "first_day_holidays_zone_B",
        "Zone C": "first_day_holidays_zone_C",
    },
    inplace=True,
)
first_day_holidays.head()

,date,first_day_holidays_zone_A,first_day_holidays_zone_B,first_day_holidays_zone_C
0,2017-10-22,True,True,True
1,2017-12-24,True,True,True
2,2018-02-11,True,False,False
3,2018-02-18,False,False,True
4,2018-02-25,False,True,False

In [9]:
last_day_holidays = school_holidays[["end_date", "zone"]]
last_day_holidays.loc[:, "end_date"] = last_day_holidays.loc[
    :, "end_date"
] - datetime.timedelta(days=1)
last_day_holidays.loc[:, "end_date"] = last_day_holidays.loc[:, "end_date"].apply(
    lambda x: x.strftime("%Y-%m-%d")
)
last_day_holidays.reset_index(drop=True, inplace=True)
last_day_holidays = (
    last_day_holidays.pivot_table(
        index=["end_date"], columns=["zone"], aggfunc=len, fill_value=0
    )
    .astype(bool)
    .reset_index()
)
last_day_holidays.columns.name = None
last_day_holidays.rename(
    columns={
        "end_date": "date",
        "Zone A": "last_day_holidays_zone_A",
        "Zone B": "last_day_holidays_zone_B",
        "Zone C": "last_day_holidays_zone_C",
    },
    inplace=True,
)
last_day_holidays.head()

,date,last_day_holidays_zone_A,last_day_holidays_zone_B,last_day_holidays_zone_C
0,2017-11-05,True,True,True
1,2018-01-07,True,True,True
2,2018-02-25,True,False,False
3,2018-03-04,False,False,True
4,2018-03-11,False,True,False

In [10]:
during_holidays = school_holidays.loc[:, ["start_date", "end_date", "zone"]]
during_holidays.loc[:, "end_date"] = during_holidays.loc[
    :, "end_date"
] - datetime.timedelta(days=2)
during_holidays.loc[:, "start_date"] = during_holidays.loc[
    :, "start_date"
] + datetime.timedelta(days=2)
during_holidays.head()

during_holidays

    start_date   end_date    zone
0   2017-10-23 2017-11-04  Zone A
1   2017-10-23 2017-11-04  Zone C
2   2017-10-23 2017-11-04  Zone B
3   2017-12-25 2018-01-06  Zone A
4   2017-12-25 2018-01-06  Zone B
..         ...        ...     ...
154 2026-05-17 2026-05-14  Zone C
155 2026-05-17 2026-05-14  Zone A
156 2026-07-06 2026-07-02  Zone A
157 2026-07-06 2026-07-02  Zone C
158 2026-07-06 2026-07-02  Zone B

[159 rows x 3 columns]

In [11]:
during_holidays_zone_A = during_holidays[
    during_holidays["zone"] == "Zone A"
].reset_index()
during_holidays_zone_B = during_holidays[
    during_holidays["zone"] == "Zone B"
].reset_index()
during_holidays_zone_C = during_holidays[
    during_holidays["zone"] == "Zone C"
].reset_index()

In [12]:
holidays_days_zone_A = pd.DataFrame()

for row in range(during_holidays_zone_A.shape[0]):
    start_date, end_date = during_holidays_zone_A.loc[
        row, ["start_date", "end_date"]
    ].apply(lambda x: x.strftime("%Y-%m-%d"))
    curr_holidays_days_zone_A = pd.date_range(start_date, end_date)
    curr_holidays_days_zone_A = pd.DataFrame(
        curr_holidays_days_zone_A, columns=["date"]
    )
    holidays_days_zone_A = pd.concat(
        [holidays_days_zone_A, curr_holidays_days_zone_A], ignore_index=True
    )


holidays_days_zone_A["holiday_day_zone_A"] = True

In [13]:
holidays_days_zone_B = pd.DataFrame()

for row in range(during_holidays_zone_B.shape[0]):
    start_date, end_date = during_holidays_zone_B.loc[
        row, ["start_date", "end_date"]
    ].apply(lambda x: x.strftime("%Y-%m-%d"))
    curr_holidays_days_zone_B = pd.date_range(start_date, end_date)
    curr_holidays_days_zone_B = pd.DataFrame(
        curr_holidays_days_zone_B, columns=["date"]
    )
    holidays_days_zone_B = pd.concat(
        [holidays_days_zone_B, curr_holidays_days_zone_B], ignore_index=True
    )

holidays_days_zone_B["holiday_day_zone_B"] = True

In [14]:
holidays_days_zone_C = pd.DataFrame()

for row in range(during_holidays_zone_C.shape[0]):
    start_date, end_date = during_holidays_zone_C.loc[
        row, ["start_date", "end_date"]
    ].apply(lambda x: x.strftime("%Y-%m-%d"))
    curr_holidays_days_zone_C = pd.date_range(start_date, end_date)
    curr_holidays_days_zone_C = pd.DataFrame(
        curr_holidays_days_zone_C, columns=["date"]
    )
    holidays_days_zone_C = pd.concat(
        [holidays_days_zone_C, curr_holidays_days_zone_C], ignore_index=True
    )

holidays_days_zone_C["holiday_day_zone_C"] = True

In [15]:
during_holidays = (
    holidays_days_zone_A.merge(holidays_days_zone_B, on="date", how="outer")
    .merge(holidays_days_zone_C, on="date", how="outer")
    .fillna(False)
)

Merge : holiday_departure, first_day_holidays, last_day_holidays, during_holidays

In [16]:
holidays_calendar = (
    holiday_departure.merge(first_day_holidays, on="date", how="outer")
    .merge(during_holidays, on="date", how="outer")
    .merge(last_day_holidays, on="date", how="outer")
    .fillna(False)
)
holidays_calendar.sort_values(by=["date"], inplace=True)
holidays_calendar.reset_index(drop=True, inplace=True)

holidays_calendar.head()

holidays_calendar['date']

0      2017-10-21
1      2017-10-22
2      2017-10-23
3      2017-10-24
4      2017-10-25
          ...
1303   2026-05-15
1304   2026-05-16
1305   2026-07-03
1306   2026-07-04
1307   2026-07-05
Name: date, Length: 1308, dtype: datetime64[ns]

### Weather data

In [17]:
weather = pd.read_sql_query("SELECT * FROM weather", con=engine)

We need one data point every 2 hours due to our timeslot

In [18]:
weather[["temperature","dew_point","pressure",'ground_pressure','humidity','clouds','wind_speed','wind_deg']] = weather[["temperature","dew_point","pressure",'ground_pressure','humidity','clouds','wind_speed','wind_deg']].rolling(window=2).mean()
weather[['rain','snow','ice','fr_rain','convective']] = weather[['rain','snow','ice','fr_rain','convective']].rolling(window=2).sum()
weather[['snow_depth','accumulated','rate']] = weather[['snow_depth','accumulated','rate']].rolling(window=2).max()
weather = weather.iloc[1::2] # we keep only the odd rows

In [19]:
weather["time_slot"] = weather["slice dt iso"].apply(lambda x: x.hour)
time_slots = ["0h-2h","2h-4h","4h-6h","6h-8h","8h-10h","10h-12h","12h-14h","14h-16h","16h-18h","18h-20h","20h-22h","22h-24h"]
weather["time_slot"] = weather["time_slot"].apply(lambda x: time_slots[x//2]) # Converting weather["time_slot"] to values in time_slots
weather["date"] = weather["slice dt iso"].apply(lambda x: x.date())
weather["date"] = pd.to_datetime(weather["date"], format="%Y-%m-%d")

In [20]:
weather.head()

,forecast dt iso,slice dt iso,temperature,dew_point,pressure,ground_pressure,humidity,clouds,wind_speed,wind_deg,rain,snow,ice,fr_rain,convective,snow_depth,accumulated,rate,time_slot,date
1,2017-10-07 18:00:00,2017-10-08 01:00:00,13.595,11.560,1017.63,1007.520,87.465,80.5,4.040,268.910,0.0,0.0,0.0,0.0,0.084,0.0,0.0,0.000011,0h-2h,2017-10-08
3,2017-10-07 18:00:00,2017-10-08 03:00:00,13.845,11.120,1017.63,1007.495,83.725,78.0,3.195,291.860,0.0,0.0,0.0,0.0,0.105,0.0,0.0,0.000022,2h-4h,2017-10-08
5,2017-10-07 18:00:00,2017-10-08 05:00:00,13.545,10.705,1017.97,1007.840,82.965,83.5,2.355,308.715,0.0,0.0,0.0,0.0,0.126,0.0,0.0,0.000019,4h-6h,2017-10-08
7,2017-10-07 18:00:00,2017-10-08 07:00:00,13.265,10.650,1018.70,1008.635,83.985,91.0,1.805,314.190,0.0,0.0,0.0,0.0,0.208,0.0,0.0,0.000006,6h-8h,2017-10-08
9,2017-10-07 18:00:00,2017-10-08 09:00:00,13.860,10.590,1019.58,1009.625,80.565,97.0,1.735,312.200,0.0,0.0,0.0,0.0,0.125,0.0,0.0,0.000006,8h-10h,2017-10-08

# Merging datasets and creating the final dataset with all the features and timeslots

### Initialise negatif_df

In [21]:
columns = [
    "month_number",
    "week_number",
    "monthday_number",
    "weekday_number",
    "time_slot",
    "ongoing_incident",
]

In [22]:
def generate_time_stamps(start_day: str, end_day: str, time_ressolution=2):
    """
    Generate a list of time stamps between <start_day> and <end_day> (all day include) with a given time resolution.
    """
    start_day = datetime.datetime.strptime(start_day, "%Y-%m-%d")
    end_day = datetime.datetime.strptime(end_day, "%Y-%m-%d") + datetime.timedelta(
        days=1
    )
    time_stamps = []

    time_stamp = start_day

    while time_stamp < end_day:
        time_stamps.append(time_stamp)
        time_stamp += datetime.timedelta(hours=time_ressolution)

    return time_stamps


time_stamps = [
    datetime.datetime.strftime(time_stamp, "%Y-%m-%d %H:%M:%S")
    for time_stamp in generate_time_stamps("2018-01-01", "2023-08-28")
]

In [23]:
negatif_df = pd.DataFrame(time_stamps, columns=["timestamp"])
negatif_df["month_number"] = negatif_df["timestamp"].apply(
    lambda x: datetime.datetime.strptime(x[:10], "%Y-%m-%d").month
)
negatif_df["week_number"] = negatif_df["timestamp"].apply(
    lambda x: datetime.datetime.strptime(x[:10], "%Y-%m-%d").isocalendar().week
)
negatif_df["monthday_number"] = negatif_df["timestamp"].apply(
    lambda x: datetime.datetime.strptime(x[:10], "%Y-%m-%d").day
)
negatif_df["weekday_number"] = negatif_df["timestamp"].apply(
    lambda x: datetime.datetime.strptime(x[:10], "%Y-%m-%d").weekday()
)
negatif_df["time_slot"] = negatif_df["timestamp"].apply(timestamp_to_time_slot)
negatif_df.insert(1, "date", negatif_df["timestamp"].apply(lambda x: x[:10]))
negatif_df["ongoing_incident"] = False

negatif_df.head()

,timestamp,date,month_number,week_number,monthday_number,weekday_number,time_slot,ongoing_incident
0,2018-01-01 00:00:00,2018-01-01,1,1,1,0,0h-2h,False
1,2018-01-01 02:00:00,2018-01-01,1,1,1,0,2h-4h,False
2,2018-01-01 04:00:00,2018-01-01,1,1,1,0,4h-6h,False
3,2018-01-01 06:00:00,2018-01-01,1,1,1,0,6h-8h,False
4,2018-01-01 08:00:00,2018-01-01,1,1,1,0,8h-10h,False

### Merging negatif_df with incidents

In [24]:
ML_dataset = pd.merge(
    negatif_df,
    incidents[["date", "time_slot", "embedded_text", "tweet_url"]],
    how="left",
    on=["date", "time_slot"],
)
ML_dataset.drop_duplicates(
    subset=["timestamp", "time_slot"], inplace=True, keep="first"
)
ML_dataset["ongoing_incident"] = ML_dataset["embedded_text"].apply(
    lambda x: False if pd.isna(x) else True
)  # if "Embedded_text" is not NaN, set "ongoing_incident" to True in coreesponding row

ML_dataset['date'] = pd.to_datetime(ML_dataset['date'])

ML_dataset.head()  # ATTENTION : il peut y avoir plusieurs lignes pour un même incident et pour un même time_slot

,timestamp,date,month_number,week_number,monthday_number,weekday_number,time_slot,ongoing_incident,embedded_text,tweet_url
0,2018-01-01 00:00:00,2018-01-01,1,1,1,0,0h-2h,False,NaN,NaN
1,2018-01-01 02:00:00,2018-01-01,1,1,1,0,2h-4h,True,"Incident terminé (personne sur les voies), ret...",https://twitter.com/Ligne9_RATP/status/9476390...
4,2018-01-01 04:00:00,2018-01-01,1,1,1,0,4h-6h,False,NaN,NaN
5,2018-01-01 06:00:00,2018-01-01,1,1,1,0,6h-8h,False,NaN,NaN
6,2018-01-01 08:00:00,2018-01-01,1,1,1,0,8h-10h,False,NaN,NaN

### Merging ML_dataset with school holidays, public holidays and weather data

In [25]:
ML_dataset = ML_dataset.merge(holidays_calendar, on = "date", how = "left")

In [26]:
ML_dataset = ML_dataset.merge(public_holidays, on = "date", how = "left", )

In [27]:
ML_dataset = ML_dataset.merge(weather, on = ["date","time_slot"], how = "left")

# Final formating and data saving

In [28]:
columns = ['month_number', 'week_number', 'monthday_number', 'weekday_number',
       'time_slot', 'holiday_departure_zone_A', 'holiday_departure_zone_B',
       'holiday_departure_zone_C', 'first_day_holidays_zone_A',
       'first_day_holidays_zone_B', 'first_day_holidays_zone_C',
       'holiday_day_zone_A', 'holiday_day_zone_B', 'holiday_day_zone_C',
       'last_day_holidays_zone_A', 'last_day_holidays_zone_B',
       'last_day_holidays_zone_C', 'public_holiday', 'temperature',
       'dew_point', 'pressure', 'ground_pressure', 'humidity', 'clouds',
       'wind_speed', 'wind_deg', 'rain', 'snow', 'ice', 'fr_rain',
       'convective', 'snow_depth', 'accumulated', 'rate', 'ongoing_incident']

# ML_dataset[columns] = ML_dataset[columns].fillna(value=False)
ML_dataset = ML_dataset[columns]

ML_dataset.head()

,month_number,week_number,monthday_number,weekday_number,time_slot,holiday_departure_zone_A,holiday_departure_zone_B,holiday_departure_zone_C,first_day_holidays_zone_A,first_day_holidays_zone_B,...,wind_deg,rain,snow,ice,fr_rain,convective,snow_depth,accumulated,rate,ongoing_incident
0,1,1,1,0,0h-2h,False,False,False,False,False,...,244.220,0.0,0.0,0.0,0.0,0.084,0.0,0.0,0.000000,False
1,1,1,1,0,2h-4h,False,False,False,False,False,...,247.785,0.0,0.0,0.0,0.0,0.042,0.0,0.0,0.000000,True
2,1,1,1,0,4h-6h,False,False,False,False,False,...,243.450,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000008,False
3,1,1,1,0,6h-8h,False,False,False,False,False,...,228.060,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000000,False
4,1,1,1,0,8h-10h,False,False,False,False,False,...,208.060,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000000,False

In [29]:
ML_dataset.to_sql("ML_dataset", con=engine, if_exists="replace", index=False)

508