In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Importing data

In [14]:
public_holidays = pd.read_csv("jours_feries_metropole.csv")
public_holidays.head()

         date  annee       zone   nom_jour_ferie
0  2003-01-01   2003  Métropole      1er janvier
1  2003-04-21   2003  Métropole  Lundi de Pâques
2  2003-05-01   2003  Métropole          1er mai
3  2003-05-08   2003  Métropole            8 mai
4  2003-05-29   2003  Métropole        Ascension

# Data inspection

In [15]:
public_holidays.zone.value_counts()

zone
Métropole    286
Name: count, dtype: int64

# Cleaning data

### Column selection and renaming

In [16]:
public_holidays = public_holidays[["date","nom_jour_ferie"]]
public_holidays.rename(columns={"nom_jour_ferie":"public_holiday"}, inplace=True)

### Formating "date" columns

In [17]:
public_holidays["date"] = pd.to_datetime(public_holidays["date"], format="%Y-%m-%d")

In [18]:
public_holidays.head()

        date   public_holiday
0 2003-01-01      1er janvier
1 2003-04-21  Lundi de Pâques
2 2003-05-01          1er mai
3 2003-05-08            8 mai
4 2003-05-29        Ascension

# Data saving

In [19]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Incidents_RATP')
public_holidays.to_sql('public_holidays', engine, if_exists='replace', index=False)

286